<div class="showcase">
	<div class="big-pic">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
		  <div class="carousel-inner" role="listbox">
		    <div class="active item one"></div>
		    <div class="item two"></div>
		    <div class="item three"></div>
		    <div class="item four"></div>
		  </div>
		</div>
	</div>

	<div class="jumbotron">
		<div class="container">
			<div class="big-words">
				<p class="head">Welcome Home</p>
				<p class="line">Rent unique places to stay from local hosts in 190+ countries.</p>


				<div class="form-inline big-search-form">
					<form class="input-group" role="form" action="/listings/index" method="get">
						<input class="form-control input-lg" type="text" name="filterrific[search_query]" placeholder="Where do you want to go?">
						<button type="submit" class="btn btn-success btn-lg">Search</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container isolator">

<h1>INDEX PAGE</h1>

</div>


