<div class="showcase">
	<div class="big-pic">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
		  <div class="carousel-inner" role="listbox">
		    <div class="active item one"></div>
		    <div class="item two"></div>
		    <div class="item three"></div>
		    <div class="item four"></div>

		  </div>

</div>

	</div>

	<div class="jumbotron">
		<div class="container">
			<div class="big-words">
				<p>welcome home</p>
			</div>
		</div>
	</div>
</div>

<div class="container">

<h1>INDEX PAGE</h1>

</div>