// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
$baseFontFamily: 'Avant Garde','Helvetica Neue',Arial,Helvetica,sans-serif  !default;

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-btn{
  border-radius: 0;

  a {
    text-decoration: none;
    color: #777;
  }
}
.nav-landing {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
  margin-bottom: 0;

  p {
    color: white;
  }
}

.nav-landing-list {
  li a {
    color: white !important;
  }
}

.nav-landing-btn {
  border-radius: 0px;
  background: transparent;
  color: white;
  /* CSS Transition */
  -webkit-transition: background .1s ease-in-out, border .1s ease-in-out;
  -moz-transition: background .1s ease-in-out, border .1s ease-in-out;
  -ms-transition: background .1s ease-in-out, border .1s ease-in-out;
  -o-transition: background .1s ease-in-out, border .1s ease-in-out;
  transition: background .1s ease-in-out, border .1s ease-in-out;

  &:hover {
    background: rgba(0,0,0,0.2); 
  }

  a {
    text-decoration: none;
    color: white;
  }
}

/* FOR LANDING PAGE BIG PIC */
.carousel {

  z-index: -99;

  .item {
    position: fixed;
    -moz-background-size: cover;
    width: 100%;
    height: 550px;
    top:0px;
    left:0;
    -webkit-transition: opacity ;
    -moz-transition: opacity ;
    -ms-transition: opacity ;
    -o-transition: opacity ;
    transition: opacity ;

  }

  .one {
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(asset-path('bg1.jpg')) center center no-repeat;
    background-size: cover; 
  }

  .two {
   background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(asset-path('bg2.jpg')) center center no-repeat;
    background-size: cover;  
  }

  .three {
   background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(asset-path('bg3.jpg')) center center no-repeat;
    background-size: cover; 
  }

  .four {
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(asset-path('bg4.jpg')) center center no-repeat;
    background-size: cover; 
  }
}




/* FOR LANDING PAGE BIG WORDS */
.jumbotron {
  height: 550px;
  color: white;
  text-shadow: black 0.1em 0.1em 0.1em;
  background:transparent;
  margin-bottom: 0;
}

.big-words {
  text-align: center;
  padding-top: 150px;

  p {
    font-weight: 100;
    font-size: 4em;
  }
}


